@import "../css/typography.css";

body {
  background: #323647;
  margin: 0px;
}

.gitHubLogo {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50px;
  left: 100px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 6% 2.5%;
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 690px;
}

.myName,
.contactMe {
  font-family: "Poppins";
  font-weight: 500;
  color: #ffc15b;
  font-size: 32px;
  margin: 0px;
}

.name {
  font-family: "Poppins";
  font-weight: 600;
  color: #fff;
  font-size: 70px;
  margin: 0px;
}

.initialDescription {
  font-family: "Poppins";
  font-weight: 500;
  color: #a7a7a7;
  font-size: 24px;
  margin: 0px;
}

.techBackground {
  background-color: #c4c4c4;
  width: 100%;
  display: flex;
  justify-content: center;
}

.techContainer {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  padding: 128px 7%;
}

.techSectionTitle {
  font-family: "Poppins";
  font-weight: 500;
  color: #323647;
  font-size: 32px;
}

.techDivider {
  height: 10rem;
}

.techFieldContainer {
  display: flex;
  flex-direction: row;
}

.techFieldTextColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 6% 2.5%;
}

.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 690px;
}

.email {
  font-family: "Poppins";
  font-weight: 600;
  color: #fff;
  font-size: 40px;
  margin: 0px;
  margin: 10px 0;
}
